<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="product_style.css" />
    <title>Intro to Vue</title>
  </head>
  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <!-- v-bind dynamically binds an attribute to an expression -->
          <!-- the attribute's value is pulled from the Vue instance binded to this App element -->
          <!-- :src is short for v-bind:src -->
          <!-- same for :alt and any other attribute -->
          <img :src="image" :alt="alt" />
        </div>
        <div class="product-info">
          <h1>{{ product }}</h1>
          <!-- v-if and v-else will render elements conditionally, based on how the expression value evaluates -->
          <p v-if="inventory > 10">In Stock</p>
          <p v-else-if="inventory <= 10 && inventory > 0">Almost Sold Out</p>
          <p v-else>Out of Stock</p>
          <!-- Displays 'On sale!' when onSale is true -->
          <!-- v-show will always render the element, but will hide the display when the expression is false -->
          <strong v-show="onSale">On Sale!</strong>
          <!-- v-for reads from an array in the data object and prints out an li element for each one, though only one is written here -->
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
          <p>{{ desc }}</p>
          <strong>Sizes</strong>
          <ul>
            <li v-for="size in sizes">{{ size }}</li>
          </ul>
          <strong>Colors</strong>
          <ul>
            <!-- @ is short for v-on -->
            <!-- v-on triggers methods defined in the methods object within the Vue instance -->
            <li
              v-for="variant in variants"
              :key="variant.variantId"
              @mouseover="updateProduct(variant.variantImage)"
            >
              {{ variant.variantColor }}
            </li>
          </ul>
          <a :href="link" target="_blank">Click here for more socks</a>
          <button @click="addToCart">Add to Cart</button>
          <button @click="removeFromCart">Remove from Cart</button>
          <div class="cart">
            <p>Cart({{ cart }})</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
